---
title: Sessions
---
<div>
    We aim to create an supportive and encouraging English environment in a
    casual setting.
</div>
<br>
</br>
<div>
    Below is a listing of online English speaking sessions for people who are
    using English as a second language.
    
    We use a <a target="_blank" href="{{ site.author.discord }}">Discord</a> server as our
    online community.  To join the server you will need to:
    <ol>


        <li>
            <a href="{{ site.author.discordFaq }}#how-to-join-pis-discord-server">Join Pi's Discord server</a>
        </li>
        <li>
            <a href="{{ site.author.discordFaq }}#check-your-audio-and-mic-settings">Sign up for events</a>
        </li>
        <li>
            <a href="{{ site.author.discordFaq }}#how-to-sign-up-for-events">Check your audio and mic settings</a>
        </li>
    </ol>
</div>
<br />
<br />
<br />
<br />
<h1>Upcoming sessions</h1> 
<div>
  {% assign sortedPosts = site.posts | sort: 'properties.Date.date.start' %}

  {% assign calendar = "Mon,Tue,Wed,Thu,Fri,Sat,Sun" | split: ','%}
  {% assign oneDayInSeconds = 86400  %}
  {% assign startDay = "today" | date: '%w' %}
  {% assign timespan = startDay | minus: 1 | times: oneDayInSeconds %}
  {% assign monday = "today" | date: '%s' | minus: timespan | date: '%F' %}
  {% assign fourWeeksInSeconds = 4 | times: 7 | times: oneDayInSeconds %}
  {% assign endDateInSeconds = monday | date: '%s' | plus: fourWeeksInSeconds %}
  {% assign endDate = endDateInSeconds | date: '%F' %}

  {% assign day = monday  %}
  {% assign dayInSeconds = monday | date: '%s' %}

  <table>
  {% for title in calendar %}
          <td>
              {{ title }}
          </td>
  {% endfor %}
  {% for week in (1..4) %}
      <tr>
      {% for day in (1..7) %}
          <td>
              {% assign thisDate = dayInSeconds | date: '%Y-%m-%d' %}


              <div class="calendarDate">
                  {{ dayInSeconds | date: '%e'  }}
              </div>
              <div class="calendarTitle">
                  {% for tag in site.tags %}
                        {% if thisDate == tag[0] %}
                            {% for post in tag[1] %}
                                <a href="{{ post.url }}">  🌱 </a>
                            {% endfor %}
                        {% else %}
                        {% endif %}

                  {% endfor %}
              </div>
          {% assign dayInSeconds = dayInSeconds | plus: oneDayInSeconds %}
          </td>
      {% endfor %}
      </tr>
  {% endfor %}
  </table>

<br />
<br />
<br />
<br />

<h1 class="TitleSubText">Latest Sessions</h1> <small><a target="_blank" href="/feed.xml" >RSS</a></small>

</div>
<ul>
  {% assign sortedPosts = site.posts | sort: 'properties.Date.date.start' | reverse %}
  {% for post in sortedPosts %}
    <li>
        <div>
            <h2 class="TitleSubText"><a href="{{ post.url }}">
                    {% assign titles = post.properties.Name.title %}
                    {% for t in titles %}
                        {{ t.plain_text}} 
                    {% endfor  %}
                  </a></h2>
        </div>
        <div>
            {{ post.properties.Date.date.start | date: '%A, %d %B %l:%M %p' }} 
            <small>
                [ {{ post.tags | join: ', ' }}]
            </small>
        </div>

    </li>
  {% endfor %}
</ul>
{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">
            {% assign titles = post.properties.Name.title %}
            {% for t in titles %}
                {{ t.plain_text}} 
            {% endfor  %}
          </a></li>
    {% endfor %}
  </ul>
{% endfor %}
