---
title: Sessions
---
<div>
    We aim to create an supportive and encouraging English environment in a
    casual setting.
</div>
<br>
</br>
<div>
    Below is a listing of online English speaking sessions for people who are
    using English as a second language.
</div>
<br />
<br />
<br />
<br />
<h1>Upcoming sessions</h1> 
<div>

  {% assign calendar = "Mon,Tue,Wed,Thu,Fri,Sat,Sun" | split: ','%}
  <table>
      <tr>
  {% for title in calendar %}
          <td>
              {{ title }}
          </td>
  {% endfor %}
      </tr>
      {% for week in site.data.TalkCalendar %}
          <tr>
          {% for day in week.Value %}
            <td>
                <div class="calendarDate">
                    {{ day.title }}
                </div>
                <div class="calendarTitle">
                    {% for post in day.posts %}
                       {% assign url = '_posts/' | append: post %}
                       <a href="{% link {{ url }} %}">   🌱  </a>
                    {% endfor %}
                </div>
            </td>
          {% endfor %}
          </tr>
      {% endfor %}
  </table>
<br />
<br />
<br />
<br />

<h1 class="TitleSubText">Latest Sessions</h1> <small><a target="_blank" href="/feed.xml" >RSS</a></small>

</div>
{% for post in site.posts %}
    <div>
        {% for w in site.data.TalkCalendar %}
            {% for d in w.Value %}
                {% if post.indexDate == d.index %}
                       🌱  
                {% endif %}
            {% endfor %}
        {% endfor %}
        <h1 class="TitleSubText"><a href="{{ post.url }}"> {{ post.title }}
            </a></h1>
    </div>
    <div>
        {{ post.talktime | date: '%l%P on %A, %e %b %Y' }} 
        <small>
            {% for t in post.tags %}
                [<a href="{% link tags.html %}#{{ t | url_encode }}">{{ t
                    }}</a>]  
            {% endfor %}
        </small>
    </div>
    <br/>
{% endfor %}
